# Xcode
build/
DerivedData/
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.xccheckout
*.xcuserstate
*.xcuserdatad
xcuserdata/

# Swift Package Manager
/.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs / cache
*.log
.cache/
*.swp

# Fastlane (if used)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Env / secrets
.env
.env.*
