// Supabase Configuration
SUPABASE_URL = https://kfnsnwqylsdsbgnwgxva.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtmbnNud3F5bHNkc2JnbndneHZhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA5MjY3MzEsImV4cCI6MjA3NjUwMjczMX0.k2TZKPi3VxAVpEGggLiROYvfVu2nV_oSqBt2GM4jX-Y

// MotherDuck Configuration
MOTHERDUCK_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImRhbmllbC5waGlsbGlwcGUyN0BnbWFpbC5jb20iLCJtZFJlZ2lvbiI6ImF3cy11cy1lYXN0LTEiLCJzZXNzaW9uIjoiZGFuaWVsLnBoaWxsaXBwZTI3LmdtYWlsLmNvbSIsInBhdCI6IlJuaUt3dVZlSnFZcGFrZXR3Zm9ZRTVGT2pOakdrcjNOM09SUEkyVXVrNkkiLCJ1c2VySWQiOiI5M2I3Yjg2Ni1hNWUwLTRjZjYtODkzYi0wZjAxYTg2NTRmODgiLCJpc3MiOiJtZF9wYXQiLCJyZWFkT25seSI6ZmFsc2UsInRva2VuVHlwZSI6InJlYWRfd3JpdGUiLCJpYXQiOjE3Njk4Mjg0MDZ9.A3dHQJ05Khn1hHs7Qg_mRQTXomIMj16NRpvjer0Em9A
